@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron" style="margin-top:70px;">
    <h1>crud-webapp</h1>
    <p>
        Simple crud in ASP.NET core.
    </p>
</div>

<style>
    .margin-20{
        margin-top: 20px;
    }
</style>

